/*  Desktop */



@media screen and (min-width: 1024px) {

/*----------------------------
        ABOUT
_____________________________*/


    .main-text {
        width:1030px;
        margin: 80px auto;
        font-size:12pt;
    }
    
    .button {
        width:51px;
        margin: 80px auto;
    }
    
    .pdf-document-button, .contact-form-button {
        height:70px;
        width:70px;
    }

    .text-form-group > .form-group:first-child, .text-form-group > .form-group:nth-child(2) {
        width:335px;
    }
    
    .form-group textarea {
        min-height:60px;
        max-height:180px;
        width:690px;
    }



/*----------------------------
        SINGLE
_____________________________*/


    .modal {
        width:954px;
        
    }

    .mobile {
        display:none;
    }
    
    #modal-content {
        width:832px;
        margin: 40px auto;
    }
}