.description {
    position:relative;
    left:-220px;
}

.preview {
    height:30px;
    width:30px;
    border: .5px solid #666;
    position:relative;
    left:-470px;
    overflow:hidden;
}

.button-preview {
    height:30px;
    background-position: center center;
    background-repeat:no-repeat;
    background-size:cover;
}


