html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    font:sans-serif;
}


/*----------------------------
            HEADER
_____________________________*/


#goto-main-nav {
    height:10px;
    width:100%;
    background-color:#000;
}

.check-size {
    height:0;
    width:0;
    float:left;
}



/*----------------------------
            HOME
_____________________________*/


.home #goto-main-nav {
    display:none;
}

.main-nav {
    height:100%;
    width:100%;
    position:absolute;
    background-color:#000;
}

.main-nav div {
    height:inherit;
    width:100%;
}

.main-nav ul {
    height:inherit;
    margin:0;
    padding:0;
}

.main-nav li {
    margin:0;
    padding:0;
    float:left;
    font: 600 30pt 'Montserrat', sans-serif;
    list-style-type:none;
}

@media screen and (max-width: 719px) {
    .main-nav li {
        font-size:15pt;
    }
}

.main-nav li:last-child {
    float:right !important;
}

.main-nav li:first-child {
    background-color:#FB81B0 !important;
    background:url('') no-repeat;
    background-position:center;
    background-size:cover;
}

.main-nav li:nth-child(2) {
    background-color:yellow !important;
    background:url('') no-repeat;
    background-position:center;
    background-size:cover;
}

.main-nav li:nth-child(3) {
    background-color:orange !important;
    background:url('') no-repeat;
    background-position:center;
    background-size:cover;
}

.main-nav a {
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    opacity:0;
    color:#000;
}

.main-nav a {
    opacity: 0;
}

.main-nav span {
    background-color:#FFF;
}

@media screen and (max-width: 1023px) {
    .main-nav a, .main-nav span {
        opacity:1;
    }
}

.home footer {
    display:none;
}




/*----------------------------
    ABOUT + BLOG PAGES
_____________________________*/

.page-wrapper {
    flex: 1 0 auto;
}

.title {
    margin:180px 0 140px;
    padding:0;
    font: 600 55pt 'Montserrat', sans-serif;
    text-align:center;
    text-transform:uppercase;
    color:#000;
}

@media screen and (max-width: 1023px) {
    .title  {
        margin:100px 0 80px;
        font-size:35pt;
    }
}

@media screen and (max-width: 719px) {
    .title  {
        margin:60px 0 45px;
        font-size:20pt;
    }
}




/*----------------------------
            ABOUT
_____________________________*/


.main-text {
    width:1030px;
    padding:0;
    font: 12pt 'Cutive Mono', monospace;
    text-align:left;
    color:#000;
}

@media screen and (max-width: 719px) {
    .main-text {
        width:264px;
        margin:20px auto;
        font-size:10pt;  
    }
    
    .buttons {
        width:124px;
        margin:40px auto;
    }
    
    .curriculum-button, .contact-form-button {
        height:51px;
        width:51px;
    }
}

@media screen and (min-width: 720px) {
    .main-text {
        width:619px;
        margin:40px auto;
        font-size:10pt;
    }
    
    .buttons {
        width:124px;
        margin:20px auto;
    }
    
    .curriculum-button, .contact-form-button {
        height:51px;
        width:51px;
    }
}

@media screen and (min-width: 1024px) {
    .main-text {
        width:1030px;
        margin:80px auto;
        font-size:12pt;
    }
    
    .buttons {
        width:288px;
        margin:80px auto;
    }
    
    .curriculum-button, .contact-form-button {
        height:122px;
        width:122px;
    }
}

.curriculum-button, .contact-form-button {
    border:none;
    margin:0 10px;
    display:inline-block;
    background:url('') no-repeat;
    background-position:center;
    background-size:cover;
    cursor:pointer;
}

#curriculum object {
    width:832px;
    margin:80px 20px;
    position:relative;
    left:50%;
    transform:translate(-50%);
}

#curriculum p {
    margin:40px 20px 20px;
    padding:0;
    font: 300 12pt 'Montserrat', sans-serif;
    text-align:left;
    color:#000;
}

#curriculum a {
    font-weight:400;
    text-decoration:none;
    color:#000;
}

#contact-form .modal {
    margin:12.5% auto !important;
    
}

.contact-form {
    padding:50px;
    margin:0 auto;
}

.text-form-group {
    width:715px;
    margin:0 auto;
}

.form-group {
    padding:0;
    margin:20px 10px;
    position:relative;
    display:inline-block;
}

.text-form-group > .form-group:first-child, .text-form-group > .form-group:nth-child(2) {
    width:335px;
}

.form-group textarea {
    min-height:60px;
    max-height:180px;
    width:690px;
}

.contact-form > .form-group {
    position:relative;
    left:50%;
    transform:translate(-50%);
}

.input-text {
    height:36px;
    width:100%;
    padding:0 0 10px 10px;
    box-sizing: border-box;
    border:none;
    border-bottom: 2px solid #000;
    display:inline-block;
    font: 300 12pt 'Montserrat', sans-serif;
    outline:none;
}

::-webkit-input-placeholder {
    position:absolute;
    left:20px;
    bottom:20px;
    font: 300 10pt 'Montserrat', sans-serif;
    text-transform:uppercase;
    letter-spacing:1.5pt;
    color:#BBB;
    cursor:text;
    transition: transform .2s ease-in-out;
}

:-moz-placeholder {
   position:absolute;
    left:20px;
    bottom:20px;
    font: 300 10pt 'Montserrat', sans-serif;
    text-transform:uppercase;
    letter-spacing:1.5pt;
    color:#BBB;
    cursor:text;
    transition: transform .2s ease-in-out;
}

::-moz-placeholder {
   position:absolute;
    left:20px;
    bottom:20px;
    font: 300 10pt 'Montserrat', sans-serif;
    text-transform:uppercase;
    letter-spacing:1.5pt;
    color:#BBB;
    cursor:text;
    transition: transform .2s ease-in-out;
}

:-ms-input-placeholder {
   position:absolute;
    left:20px;
    bottom:20px;
    font: 300 10pt 'Montserrat', sans-serif;
    text-transform:uppercase;
    letter-spacing:1.5pt;
    color:#BBB;
    cursor:text;
    transition: transform .2s ease-in-out;
}

::-ms-input-placeholder {
   position:absolute;
    left:20px;
    bottom:20px;
    font: 300 10pt 'Montserrat', sans-serif;
    text-transform:uppercase;
    letter-spacing:1.5pt;
    color:#BBB;
    cursor:text;
    transition: transform .2s ease-in-out;
}

.submit-button {
    margin:40px 0 -10px;
    border:none;
    border-bottom: 2px solid #FFF;
    font: 500 14pt 'Montserrat', sans-serif;
    text-transform:uppercase;
    text-align:center;
    letter-spacing:1.5pt;
    color:#000;
    background:none;
    cursor:pointer;
}

.submit-button:hover {
    border-bottom: 2px solid #000;
}

.form-group-message {
    display:none;
}

.has-error > .form-group-message {
        display:block;
    }

.text-error {
    position:absolute;
    top:40px;
    font: 300 7pt 'Montserrat', sans-serif;
    letter-spacing:.25pt;
    color:red;
}

.form-group:nth-child(3) > .text-error {
    position:absolute;
    top:62px !important;
}

.text-info {
    width:300px;
    position:absolute;
    top:40px;
    left:50%;
    transform:translate(-50%);
    font: 300 8pt 'Montserrat', sans-serif;
    letter-spacing:.25pt;
    text-align:center;
    color:#777;
}

.contact-form > .form-group > .text-error {
    width:530px !important;
    left:50%;
    text-align:center !important;
    transform:translate(-50%);
}

.text-success {
    width:300px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    font: 400 11pt 'Montserrat', sans-serif;
    letter-spacing:.25pt;
    text-align:center;
    color:#000;
}

.js-show-feedback {
    display:block;
}





/*----------------------------
        BLOG PAGES
_____________________________*/


.subtitle {
    margin:10px 5px 0px;
    padding:0;
    font: 400 5pt 'Montserrat', sans-serif;
    text-align:right;
    text-transform:uppercase;
    letter-spacing:1pt;
    color:#666;
}

#columns {
    column-width:262px;
    column-gap:20px;
    max-width:852px;
    margin:-10px auto 140px;
}

@media screen and (max-width: 1023px) {
    #columns {
        max-width:544px;
    }
}

@media screen and (max-width: 719px) {
    #columns {
        max-width:262px;
    }
}




/*----------------------------
            CONTENT
_____________________________*/


.blog-post-button {
    border:none;
    margin:0;
    padding:0 4px 0 0;
    display:block;
    background-color:#FFF;
    cursor:pointer;
}

.loader {
    height:51px;
    width:51px;
    border: 8px solid #F4F4F4;
    border-top: 8px solid #000;
    border-radius:50%;   
    margin: 180px auto;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.modal-wrapper, #curriculum, #contact-form {
    height:100%;
    width:100%;
    padding-top:80px;
    display:none;
    position:fixed;
    top:0;
    left:0;
    overflow:auto;
    background-color:rgba(0,0,0,0.4);
    z-index:999;
}

.post {
    height:100%;
    width:244px;
    border: 1px solid #FBFBFB;
    box-shadow:.5px 2px 4px rgba(34, 25, 25, 0.07);
    margin:0 0 20px;
    padding:10px;
    display:inline-block;
    background-color:#FEFEFE;
}




/*----------------------------
            SINGLE
_____________________________*/

.blog-post-mobile {
    background-color: aqua;
}

.close {
    margin-right:4px;
    float:right;
    font-size:22px;
    font-weight:400;
    color:#AAA;
}

.close:hover, .close:focus {
    color:#000;
    text-decoration:none;
    cursor:pointer;
}

.single-post {
    background-color: rgba(34, 25, 25, 0.02);
}


/*
@media screen and (min-width: 720px) {
    .modal {
        width:690px;
        border:1px solid #FCFCFC;
        box-shadow:0 1px 2px rgba(34, 25, 25, 0.18);
        margin:60px auto 180px;
        padding:10px;
        background-color:#FFF;
    }
    
    .show-in-modal {
        width:568px;
        margin:40px auto;
    }
}
*/

/*@media screen and (min-width: 1024px) {*/
    .modal {
        width:954px;
        border:1px solid #FCFCFC;
        box-shadow:0 1px 2px rgba(34, 25, 25, 0.18);
        margin:60px auto 180px;
        padding:10px;
        background-color:#FFF;
    }
    
    #modal-content {
        width:832px;
        margin:40px auto;
    }
/*}*/

.admin-edit {
    margin:0;
    padding:0;
    font: 400 5pt 'Montserrat', sans-serif;
    text-align:left;
    text-transform:uppercase;
    letter-spacing:1pt;
    color:#666;
}

.post-title {
    padding:0;
    font: 600 20pt 'Montserrat', sans-serif;
    text-align:center;
    text-transform:uppercase;
    color:#000;
}

.post-content p {
    margin:40px 20px 20px;
    padding:0;
    font: 10pt 'Cutive Mono', monospace;
    text-align:left;
    color:#000;
}

.post-content img {
    height:auto;
    width:100%;
}

.tags {
    margin:40px 0 10px;
    padding:0;
    font: 400 6pt 'Montserrat', sans-serif;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:1pt;
    color:#666;
}




/*----------------------------
            FOOTER
_____________________________*/


footer {
    height:20px;
    width:100%;
    font: 7pt/20px 'Cutive Mono', monospace;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:2pt;
    color:#343434;
    background-color:#F4F4F4;   
}